body {
    color: #363636;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.6em;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 2.4em;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1,8em;
  text-transform: uppercase; 
}

a {
  color: #267CB9;
  text-decoration: none;
  font-weight: bold; 
}

a:hover,
a:focus, 
a:visited {
    color: #069;
    font-weight: bold
}

div.intro {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.8em;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.main {
  flex: 60%;
  max-width: 60%; 
  padding: 1%; 
}

.sidebar {
  flex: 40%; 
  max-width: 40%;
  padding: 1%; 
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: top;
  width: 200px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .main {
    flex: 100%;
    max-width: 100%;
  }
  .sidebar {
    flex: 100%;
    max-width: 100%;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


div.gallery {
  border: 1px solid #ccc;
  width: 24.99999%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}




